
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="loginUser()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>

    @if(error){
      <div style="color: red;">
        <p>{{error}}</p>
      </div>
    }
  </form>

<app-footer></app-footer>
</ion-content>
