
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (submit)="registerUser()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="userData.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="userData.email" name="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="userData.phone" name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select [(ngModel)]="userData.rol" name="rol">
          <ion-select-option value="alumno">Alumno</ion-select-option>
          <ion-select-option value="docente">Docente</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" type="submit">Registrarse</ion-button>

      @if(error){
        <div style="color: red;">
          <p>{{error}}</p>
        </div>
      }

    </form>


  <app-footer></app-footer>
</ion-content>
