<div class="abajo">
  <div class="icon-button">
    <a [routerLink]="['/home']">
      <span>Home</span>
    </a>
  </div>

  @if(user){
    <div class="icon-button">
      <a (click)="logout()">
        <span>Logout</span>
      </a>
    </div>
  }
  @else {
    <div class="icon-button">
      <a [routerLink]="['/login']">
        <span>Login</span>
      </a>
    </div>
    <div class="icon-button">
      <a [routerLink]="['/register']">
        <span>Registro</span>
      </a>
    </div>
  }
</div>
